<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">As a Man Thinketh</h1>
      <p class="text-center"><em>Reading Time: 1 - 2 hours</em></p>
      <br>
      <center>
        <div class="author-image">
          <img src="decorativeframe.svg" class="img-responsive center-block" />
        </div>
      </center>
      <br>

      <p class="text-center">by James Allen</p>
      <center>
        <img src="decorativedivider.svg" class="decorative-divider" />
      </center>
      <div class="spacer"></div>

      <% chapters.forEach(function(chapter){ %>
      <p class="toc">
        <% if (chapter.page_name !== 'about-this-book') { %><%= chapter.id - 1
        %>. <% } %>
        <a href="/chapter/<%= chapter.page_name %>"><%= chapter.name %></a>
      </p>
      <% }); %>

      <%- include("./footer") %>
    </div>
  </body>
</html>
