<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1>As a Man Thinketh</h1>
      <p><em>Reading Time: 1 - 2 hours</em></p>
      <br>
      <img src="james-allen.jpg" class="img-responsive center-block" />
      <br>
      <% chapters.forEach(function(chapter){ %>
      <p class="toc">
        <% if (chapter.page_name !== 'about-this-book') { %><%= chapter.id - 1
        %>. <% } %>
        <a href="/chapter/<%= chapter.page_name %>"><%= chapter.name %></a>
      </p>
      <% }); %>

      <%- include("./footer") %>
    </div>
  </body>
</html>
