<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <div class="spacer"></div>
      <h1 class="text-center">As a Man Thinketh</h1>
      <p class="text-center"><em>Reading Time: 1 - 2 hours</em></p>
      <br>
      <center>
        <img src="James_Allen.png" class="img-responsive center-block" />
      </center>
      <br>
      <% chapters.forEach(function(chapter){ %>
      <p class="toc">
        <% if (chapter.page_name !== 'about-this-book') { %><%= chapter.id - 1
        %>. <% } %>
        <a href="/chapter/<%= chapter.page_name %>"><%= chapter.name %></a>
      </p>
      <% }); %>

      <%- include("./footer") %>
    </div>
  </body>
</html>
