<html>
  <%- include("./head", {title: "Books"}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Books</h1>

      <% Object.keys(booksData).reverse().forEach(function(key){ %>
      <h2><%= key %></h2>
      <% booksData[key].forEach(function(ele){ %>
        <li class="book-list"><em><a href="/books/<%= ele.page_name %>"><%= ele.name %></a></em><% if (ele.author) { %>, by <%= ele.author %><% } %></li>
      <% }) %> <% }) %>

      <%- include("./footer") %>

    </div>
  </body>
</html>
