<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <div class="navigation_box">
        <h3 class="navigation">
          <% if (previous) { %>
            <a href="/chapter/<%= previous.page_name %>"><</a>
          <% } %>
          <% if (!previous) { %>
             <a href="/as-a-man-thinketh"><</a>
          <% } %>
          <% if (next) { %>
             | <a href="/chapter/<%= next.page_name %>">></a>
          <% } %>
          <% if (!next) { %>
             | <a href="/as-a-man-thinketh">></a>
          <% } %>
        </h3>
      </div>
      <h1>
        <% if (chapter.page_name !== 'about-this-book' && chapter.page_name !==
        'foreword') { %><%= chapter.id - 1 %>. <% } %><%= chapter.name %>
      </h1>
      <div class="spacer"></div>
      <% if (chapter.id === 0) { %>
        <%- include("./chapters/about-this-book.html")%>
      <% } else if (chapter.id === 1) { %>
        <%- include ("./chapters/foreword.html") %>
      <% } else if (chapter.id === 2) { %>
        <%- include ("./chapters/thought-and-character.html") %>
      <% } else if (chapter.id === 3) { %>
        <%- include ("./chapters/effect-of-thought-on-circumstances.html") %>
      <% } else if (chapter.id === 4) { %>
        <%- include ("./chapters/effect-of-thought-on-health-and-the-body.html") %>
      <% } else if (chapter.id === 5) { %>
        <%- include ("./chapters/thought-and-purpose.html")%>
      <% } else if (chapter.id === 6) { %>
        <%- include ("./chapters/the-thought-factor-in-achievement.html")%>
      <% } else if (chapter.id === 7) { %>
        <%- include("./chapters/visions-and-ideals.html")%>
      <% } else if (chapter.id === 8) { %>
        <%- include ("./chapters/serenity.html")%>
      <% } %>
      <div class="spacer"></div>
      <hr />
      <p class="text-center">
        <% if (previous) { %>
          <a href="/chapter/<%= previous.page_name %>"><
            <% if (chapter.id === 0) { %> Table of Contents <% } %>
            <% if (previous.page_name === 'about-this-book') { %> About This Book <% } %>
            <% if (previous.page_name === 'foreword') { %> Foreword <% } %>
            <% if (previous.id > 1) { %> Chapter <%= previous.id - 1 %> <% } %>
          </a>
        <% } %>
        <% if (!previous) { %><a href="/as-a-man-thinketh">< Table of Contents</a><% } %>
        <% if (chapter.id >= 1) { %> | <a href="/as-a-man-thinketh">Table of Contents</a><% } %>
        <% if (chapter.id === 0) { %> | <a href="/chapter/<%= next.page_name %>">Foreword ></a>
        <% } else if (chapter.id < 8) { %> | <a href="/chapter/<%= next.page_name %>">Chapter <%= next.id - 1 %> > </a><% } %>
      </p>
    </div>
  </body>
</html>
