<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Logical Fallacies</h1>

      <div class="spacer"></div>
      <blockquote class="main-quote text-center">
        As the physically weak man can make himself strong by careful and
        patient training, so the man of weak thoughts can make them strong by
        exercising himself in right thinking.
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em>, by James Allen</p>

      <% logicalFallacies.forEach(function(lf){ %>
      <p class="toc">
        <a href="/logical-fallacies/<%= lf.page_name %>"><%= lf.name %></a>
      </p>
      <% }); %>

      <%- include("./footer") %>

    </div>
  </body>
</html>
